#container {
    background-color: rgb(0, 243, 94);
    border: 2px;
    display: flex;
    flex-flow: row-reverse wrap;
}

.bloc {
    color: rgb(20, 20, 19);
    width: 49%;
    margin: 6px;
    height: auto;
    background-color: rgb(145, 75, 75);
    text-align: center;
}

.titree {
    text-align: center;
    text-decoration-color: beige;
    text-overflow: center;
    text-transform: uppercase;
    color: blue;
}

#d {
    flex: 3;
}

body {
    background-color: rgb(248, 214, 214);
}

.gauche {
    text-align: left;
    margin: 18px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0 30%, .2), rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.b2 {
    float: right;
    margin: 18;
    flex-grow: wrap;
}

p {
    color: blueviolet;
}

a {
    size: 200px;
}

.center {
    width: 12px;
    height: 10px;
    float: right;
    display: grid;
    border-radius: 10px;
}

img {
    width: 23px;
    height: 23px;
}